In [6]:
tuple = (6, 4, 5, 'd', 'c')
tuple

(6, 4, 5, 'd', 'c')

In [2]:
tuple[1:4]

(4, 5, 'd')

In [7]:
sorted_tuple = sorted(tuple[0:3])
sorted_tuple

[4, 5, 6]

In [10]:
L=['maito', 2, 'kahvi', 3]

In [11]:
L[2]

'kahvi'

In [12]:
L.extend(['salaatti', 12.90])
L

['maito', 2, 'kahvi', 3, 'salaatti', 12.9]

In [13]:
L.append(['salaatti', 12.90])
L

['maito', 2, 'kahvi', 3, 'salaatti', 12.9, ['salaatti', 12.9]]

In [16]:
L[1]=1
L

['maito', 1, 1, 3, ['salaatti', 12.9]]

In [14]:
del(L[1:3])
L

['maito', 3, 'salaatti', 12.9, ['salaatti', 12.9]]

In [20]:
L.split[-1]
L

AttributeError: 'list' object has no attribute 'split'

In [21]:
help(A)

NameError: name 'A' is not defined

In [1]:
dict = {'sina':1, 'elnaz':2}
dict

{'sina': 1, 'elnaz': 2}

In [2]:
dict['mehdi']='3'

In [3]:
del(dict['sina'])

In [4]:
'sina' in dict

False

In [5]:
dict.values()

dict_values([2, '3'])

In [6]:
dict.keys()

dict_keys(['elnaz', 'mehdi'])

In [18]:
names= ['elnaz', 'sina', 'mehdi', 'elnaz']

In [19]:
print(names)

['elnaz', 'sina', 'mehdi', 'elnaz']

In [26]:
set_names1=set(names)

In [27]:
set_names1

{'elnaz', 'mehdi', 'sina'}

In [28]:
set_names1.add('milo')
set_names1

{'elnaz', 'mehdi', 'milo', 'sina'}

In [29]:
set_names1.remove('sina')

In [30]:
set_names1

{'elnaz', 'mehdi', 'milo'}

In [31]:
'sina' in set_names1

False

In [32]:
set_names2={'maman', 'vicky', 'milo'}

In [33]:
set_names1 & set_names2

{'milo'}

In [34]:
set_names1.union(set_names2)

{'elnaz', 'maman', 'mehdi', 'milo', 'vicky'}

In [35]:
set_names1.issubset(set_names2)

False

In [36]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}

In [37]:
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [38]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [39]:
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [41]:
set_names1.difference(set_names2)

{'elnaz', 'mehdi'}

In [42]:
set_names2.difference(set_names1)

{'maman', 'vicky'}

In [44]:
set_names1.intersection(set_names2)

{'milo'}

In [45]:
set(['rap','house','electronic music','rap'])

{'electronic music', 'house', 'rap'}

In [46]:
A =  [1, 2, 2, 1]

In [48]:
B = set ( [1, 2, 2, 1])

In [50]:
sum(A)

6

In [51]:
sum (B)

3

In [52]:
sum(A) == sum(B)

False

In [53]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [55]:
album_set3= album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [56]:
album_set1.issubset(album_set3)

True